/*------------------------------------*\
    $TABLE OF CONTENTS
\*------------------------------------*/

/**
 * Imports................Imports
 * * Vars.................Variables... yuuup
 * * Functions............Ain't Got Time For Playin'
 * Normalize..............Brings in normalize mixin from Stylus Axis  
 * BASE...................Elemental Base Styles
 * Shared Styles..........Styles used throughout site
 * Layout.................Grid based classes
 * Components.............Styles used for specific pages
 */

@import '/styl/*'


/*------------------------------------*\
    $BASE - Uhraah! Bass!
\*------------------------------------*/

normalize-css()

html
    box-sizing: border-box

*, *:before, *:after
    box-sizing: inherit
    


/*------------------------------------*\
    $SHARED_STYLES
\*------------------------------------*/


/*------------------------------------*\
    $LAYOUT
\*------------------------------------*/

/* $Header */

/* $Body */

/* $Footer */


/*------------------------------------*\
    $COMPONENTS
\*------------------------------------*/

/* $Component_Name */

// Notes about class/style