/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/


// Breakpoints
$xsmall = 340px
$small = 500px
$med = 800px
$large = 960px
$wide = 1200px

// Some fresh Colors
black = #222
grey = #D8D8D8
light-grey = #EEE
purp = #524763
dark-purp = #373142
red = #E54B4B
teal = #82D8D8
dark-teal = #66A6A6
green = #CBE56C
blue = #16528E
bright-blue = #0082C8
maroon = #6A2140
light-red = #CA5765
pink = #CF256D
orange = #E8846B


// A semantic z-index map, modify as needed
z = {
    neg: -1,
    lowest: 1,
    low: 4,
    mid: 5,
    video: 6,
    header: 7,
    nav: 8,
    mini: 9,
    modal: 10,
    highest: 11
}
